.spades_2,
.spades_3,
.spades_4,
.spades_5,
.spades_6,
.spades_7,
.spades_8,
.spades_9,
.spades_10,
.spades_j,
.spades_q,
.spades_k,
.spades_a {
    background-position-y: -291px;
}

.club_2,
.club_3,
.club_4,
.club_5,
.club_6,
.club_7,
.club_8,
.club_9,
.club_10,
.club_j,
.club_q,
.club_k,
.club_a {
    background-position-y: -582px;
}

.hearts_2,
.hearts_3,
.hearts_4,
.hearts_5,
.hearts_6,
.hearts_7,
.hearts_8,
.hearts_9,
.hearts_10,
.hearts_j,
.hearts_q,
.hearts_k,
.hearts_a {
    background-position-y: -873px;
}

.diamonds_2,
.diamonds_3,
.diamonds_4,
.diamonds_5,
.diamonds_6,
.diamonds_7,
.diamonds_8,
.diamonds_9,
.diamonds_10,
.diamonds_j,
.diamonds_q,
.diamonds_k,
.diamonds_a {
    background-position-y: -1164px;
}

.jokerBlack,
.jokerRed {
    background-position-y: -1455px;
}

.spades_3,
.club_3,
.hearts_3,
.diamonds_3,
.jokerRed {
    background-position-x: -200px;
}

.spades_4,
.club_4,
.hearts_4,
.diamonds_4 {
    background-position-x: -400px;
}

.spades_5,
.club_5,
.hearts_5,
.diamonds_5 {
    background-position-x: -600px;
}

.spades_6,
.club_6,
.hearts_6,
.diamonds_6 {
    background-position-x: -800px;
}

.spades_7,
.club_7,
.hearts_7,
.diamonds_7 {
    background-position-x: -1000px;
}

.spades_8,
.club_8,
.hearts_8,
.diamonds_8 {
    background-position-x: -1200px;
}

.spades_9,
.club_9,
.hearts_9,
.diamonds_9 {
    background-position-x: -1400px;
}

.spades_10,
.club_10,
.hearts_10,
.diamonds_10 {
    background-position-x: -1600px;
}

.spades_j,
.club_j,
.hearts_j,
.diamonds_j {
    background-position-x: -1800px;
}

.spades_q,
.club_q,
.hearts_q,
.diamonds_q {
    background-position-x: -2000px;
}

.spades_k,
.club_k,
.hearts_k,
.diamonds_k {
    background-position-x: -2200px;
}

.spades_a,
.club_a,
.hearts_a,
.diamonds_a {
    background-position-x: -2400px;
}