@import '@/assets/scss/card.scss';

:root {
    --color: #213547;
    --background-color: #fff;
    --btn-hover-bg: #a9f5b6;
    --btn-active-bg: #8cf8c9;
    --shadow-color: rgb(0 0 0 / 10%);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    background-image: url('@/assets/img/bg.png');
    color: var(--color);

    &.dark {
        background-image: url('@/assets/img/bg-inverse.png');

        --color: #decab8;
        --background-color: #282828;
        --btn-hover-bg: #560a49;
        --btn-active-bg: #730736;
        --shadow-color: rgb(255 255 255 / 10%);
    }
}

#app {
    width: 100%;
    padding: 10px;
}

a {
    text-decoration: inherit;
    color: #646cff;
    font-weight: 500;
}

a:hover {
    color: #535bf2;
}